
<div [swiper]="config" class="swiper-container slides-medh">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-manutencao">
       <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="linha-subtitulo-banner"></span>
                            <h2 class="titulo-banner">
                                Manutenção Preventiva
                            </h2>                            
                            <p>
                                Fabricação de peças não comercial para reposição <br/>
                                específica para equipamentos e maquinas de qualquer área<br/>
                                e segmento.
                            </p>
                            <p>
                              <a class="botao-medh" href="">Fale com um especialista</a>
                            </p>                            
                        </div>
                    </div>
                </div>                  
    </div>
        <div class="swiper-slide">
      Swiper content
    </div>
        <div class="swiper-slide">
      Swiper content
    </div>
        <div class="swiper-slide">
      Swiper content
    </div>
  </div>  

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>