<header>
  <div class="topo">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;contato@medh.com.br</div>
        <div class="col-md-6 text-right"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+55 (11) 4515-3373 / 95035-7112</div>
      </div>
    </div>
  </div>
  <nav class="container">
    <!--Menu web-->
    <div class="navbar-header hidden-xs">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar top-bar"></span>
                  <span class="icon-bar middle-bar"></span>
                  <span class="icon-bar bottom-bar"></span>
              </button>
      <img class="logo" src="/assets/images/generic/logo-medh.jpg" />
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#obras-recentes">Quem somos</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#nossa-empresa">Produtos</a></li>
        <li><a href="#downloads">Links</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>
  </nav>

<!--Banner Principal-->
<app-banner></app-banner>

</header>

<main>

  <!--Necessidade de Calibração-->
  <section class="painel-azul-background background-calibracao">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="/assets/images/generic/maquina-medidor.png" class="img-responsive center-block" />
        </div>
        <div class="col-md-6">
          <span class="linha-azul-titulo"></span>
          <h2>
            A Necessidade de Calibração
          </h2>
          <p>
            Atualmente as indústrias tem maiores controles metrológicos dos seus processos, devido a necessidade de mensurar com precisão, requerendo assim alto investimento na garantia dos seus resultados por meio das calibrações de seus aparelhos e instrumentos.
          </p>
          <p>
            Algumas áreas como temperatura, umidade, pressão, vazão, volume, massa, massa específica, óptica, e controle físico-químico, são fundamentais para o controle e garantia destes resultados. A MEDH Instrumentação Analítica está pronta para atender esta demanda para calibração, qualificação e validação de aparelhos e instrumentos, trabalhando com seriedade, responsabilidade e honestidade.
          </p>
          <p>
            <a class="botao-medh" href="">Fale com um especialista</a>
          </p>    
        </div>
      </div>
    </div>
  </section>

  <!--Porque a Medh?-->
  <section class="painel-claro">  
      <div class="container">
        <div class="row">
            <div class="col-md-8">
              <span class="linha-azul-titulo"></span>
              <h2>Porque a Medh?</h2> 
              <p>
                Somos uma empresa conceituada que atua no mercado de calibração e qualificação de instrumentos e 
                aparelhos para as indústrias químicas, petroquímicas, farmacêuticas, cosméticas, veterinárias, alimentícias 
                e farmácias de manipulação. Inovando no trabalho de peças similares de alta qualidade, com projetos exclusivos, 
                inovando o mercado nacional, antes atendido pelo mercado de importados.
              </p>
              <h3>O Compromisso</h3>
              <p>
                A MEDH veio para prestar serviços nas melhores empresas do Brasil, mantendo assim uma parceria sólida e suprindo a necessidade do mercado. Este será o nosso compromisso com todos os clientes, fornecedores e parceiros. Trabalhamos na manutenção preventiva e corretiva, calibração e qualificação de dissolutores, sistemas de coletas, inaladores, desintegradores, durômetros, multicheck's, friabilômetros, medidores de densidade compacta, medidores de fluidez, medidores de teste de blíster, multifuncionais, centrifugas...
              </p>
            </div>
            <div class="col-md-4">
              <img src="/assets/images/generic/sobre-medh.jpg" class="img-responsive center-block" />
            </div>
          </div>    
      </div>  
  </section>

  <!--Painel de Vantagens-->
  <section class="painel-vantagem">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img class="center-block" src="assets/images/vantagens/icone-vantagem-1.png" />
          <h2 class="titulo-vantagem">Listar vantagem 1</h2>
          <p class="text-center">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan imperdiet et, porttitor. Sed porttitor lectus lorem ipsum.</p>
        </div>
        <div class="col-md-3">
          <img class="center-block" src="assets/images/vantagens/icone-vantagem-1.png" />
          <h2 class="titulo-vantagem">Listar vantagem 2</h2>
          <p class="text-center">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan imperdiet et, porttitor. Sed porttitor lectus lorem ipsum.</p>
        </div>
        <div class="col-md-3">
          <img class="center-block" src="assets/images/vantagens/icone-vantagem-1.png" />
          <h2 class="titulo-vantagem">Listar vantagem 3</h2>
          <p class="text-center">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan imperdiet et, porttitor. Sed porttitor lectus lorem ipsum.</p>
        </div>
        <div class="col-md-3">
          <img class="center-block" src="assets/images/vantagens/icone-vantagem-1.png" />
          <h2 class="titulo-vantagem">Listar vantagem 4</h2>
          <p class="text-center">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan imperdiet et, porttitor. Sed porttitor lectus lorem ipsum.</p>
        </div>
      </div>      
    </div>
  </section>

  <!--Fale Conosco-->
  <section class="painel-claro">
      <div class="container">
        <div class="row">
            <div class="col-md-7">
              <span class="linha-azul-titulo"></span>
              <h2>Converse com um especialista</h2> 
              <p class="legenda">Entre em contato com um especialista no assunto para <br> conhecer um pouco mais sobre nosso trabalho.</p>
              <p>FORMULÁRIO</p>
            </div>
            <div class="col-md-5">
              <p>ÍCONES</p>
            </div>
        </div>
      </div>
  </section>

  <!--Facebook e Links Úteis-->
  <section>
    <div class="container-fluid no-spacing">
      <div class="row">
        <div class="col-md-6 painel-midia painel-facebook">
          <div class="row">
            <div class="col-md-2 col-md-offset-2">
              <img src="assets/images/generic/facebook-icone.png" class="center-block" />
            </div>
            <div class="col-md-8">
              <a href="#">Curta nossa página <br> no facebook</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 painel-midia painel-links">
          <div class="row">
            <div class="col-md-2 col-md-offset-2">
              <img src="assets/images/generic/link-icone.png" class="center-block" />
            </div>
            <div class="col-md-8">
              <a href="#">Links Úteis <br> para você</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>


<footer>
  Rodapé
</footer>



<p>
  {{title}}
</p>
