<header>
  <div class="topo">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;contato@medh.com.br</div>
        <div class="col-md-6 text-right"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;+55 (11) 4515-3373 / 95035-7112</div>
      </div>
    </div>
  </div>
  <nav class="container">
    <!--Menu web-->
    <div class="navbar-header hidden-xs">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon-bar top-bar"></span>
                  <span class="icon-bar middle-bar"></span>
                  <span class="icon-bar bottom-bar"></span>
              </button>
      <img class="logo" src="/assets/images/generic/logo-medh.jpg" />
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="#home" class="active">Home</a></li>
        <li><a href="#obras-recentes">Quem somos</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="#nossa-empresa">Produtos</a></li>
        <li><a href="#downloads">Links</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </div>

  </nav>
</header>

<h1>
  {{title}}
</h1>