/* You can add global styles to this file, and also import other style files */

//Paleta de cores

$azul-escuro: #191f4c;
$azul-claro: #00a7df;
$cinza: #6f767a;

//estilos padrão

body{    
    font-family: 'Raleway', sans-serif;
    background-color: #FFF;
    color: $cinza;
    font-size: 16px;
}