<div [swiper]="config" id="swiper-clientes" class="swiper-container">
  
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block" src="assets/images/clientes/logo-cliente-1.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block" src="assets/images/clientes/logo-cliente-1.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block" src="assets/images/clientes/logo-cliente-1.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block" src="assets/images/clientes/logo-cliente-1.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block" src="assets/images/clientes/logo-cliente-1.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block" src="assets/images/clientes/logo-cliente-1.png" />
      </div>      
    </div>
  </div>  

  <div class="swiper-pagination"></div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
