 #swiper-clientes .swiper-slide .logo-cliente {
    -webkit-box-shadow: 7px 7px 35px -14px rgba(0,0,0,0.44);
    -moz-box-shadow: 7px 7px 35px -14px rgba(0,0,0,0.44);
    box-shadow: 7px 7px 35px -14px rgba(0,0,0,0.44);
    text-align: center;
    background: #fff;
    height: 133px;
    padding: 2em;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; 
  }

  #swiper-clientes.swiper-container .swiper-slide {
  height: 180px;
  padding: 0; 
  }