<div [swiper]="config" id="swiper-clientes" class="swiper-container">
  
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/ache.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/actavis.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/amgen.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/avert.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/blanver.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/catarinense-pharma.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/droxter-farma.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/emphasys.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/eurofarma.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/genix.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/glenmark.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/herbarium.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/marjan.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/medquimica.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/novartis.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/nutrimar.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/osorio-moraes.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/ourofino.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/pfizer.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/pharlab.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/takeda.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/te-analitica.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/theraskin.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/tiaraju.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/uniao-quimica.png" />
      </div>      
    </div>
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/vidora.png" />
      </div>      
    </div>     
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/vitamed.png" />
      </div>      
    </div>  
    <div class="swiper-slide">
      <div class="logo-cliente">
        <img class="center-block img-responsive" src="assets/images/clientes/zambon.png" />
      </div>      
    </div>                                                                         
  </div>    

  <div class="botao-comando">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

</div>
